@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
.label-contact {
  display: block;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: .5em;
  transform: translate(10px, 220%);
  position: relative;
  z-index: 1;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0.6;
}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
  border-radius: .2em;
  border: 1px solid #ACACAC;
  color: #1B1820;
  padding-left: 1em;
  height: 45px;
}

input[type=text]:focus {
  outline: 0;
}

.container__form .error-field {
  border: 3px solid #FFB3B3;
}

.container__form {
  width: 100%;
  margin: 0 auto;
  background-color: lightgray;
  padding: 1em;
  border-radius: 0.2em;
  box-sizing: border-box;
  margin-bottom: 5em;
  overflow-x: hidden;
}

.container__form textarea {
  width: 100%;
  box-sizing: border-box;
  height: 100px;
  margin: 0;
  padding: 1em;
}

.container__form h2 {
  font-size: 2.5em;
  position: relative;
  padding: 0;
  margin: 0;
}

.error {
  background: #FFB3B3;
  display: inline-block;
  padding: .3em .5em;
  font-size: .85em;
  font-weight: bold;
  margin-top: -.1em;
  display: none;
}

.container__form .failed .error {
  display: block;
}

.cta {
  border: 3px solid #8040FF;
  box-sizing: border-box;
  outline: 0;
  display: block;
  width: 100%;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  color: white;
  background: #8040FF;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: .2em;
  cursor: pointer;
  transition: all 0.1s ease;
}

.cta:active {
  color: #8040FF;
  background-color: white;
}

.wrap {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1.5em;
}

.wrap .remark {
  bottom: 0;
  right: 0;
  position: absolute;
  height: 2px;
  width: 0;
  opacity: 1;
  background-color: #6265e4;
  transition: width 0.8s ease;
}

.wrap .activo.remark {
  /* transform: scaleX(100) */
  bottom: 0;
  position: absolute;
  left: 0;
  width: 100%;
  transition: width 0.8s ease;
  background-color: #6265e4;
}

.wrap .activo.special.remark {
  bottom: 4px;
}

.label-contact.activo {
  transform: translate(10%, 0%) scale(1.2);
  opacity: 1;
}

@media (min-width: 500px) {
  .container__form .cta {
    width: 30%;
  }
}

@media (min-width: 650px) {
  .container__form {
    width: 70%;
  }
}

@media (min-width: 900px) {
  .container__form {
    width: 100%;
    padding: 2em;
  }
  .container__form h2 {
    font-size: 3.5em;
  }
  .container__form .cta {
    width: 25%;
    min-width: 150px;
  }
}
