.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  opacity: 1;
  padding: 2em;
  padding-left: 12em;
  margin-bottom: 15em;
  min-height: 100vh;
  padding-top: 6em;
}

.hero p {
  margin-left: 6px;
}

.hero .profile-photo {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  right: 28%;
}

.hero .hi {
  color: black;
  font-size: 2.5em;
}

.hero .titulo-nombre {
  font-size: 1em;
  margin: 0;
  margin-left: 5px;
  padding: 0;
  font-size: 1.4em;
  color: #f72585;
  color: deeppink;
  color: #e75480;
  color: #3f03ea;
  position: relative;
  z-index: 13;
  transform: translateX(0px);
  opacity: 0;
  margin-bottom: 2rem;
}

.hero span {
  display: block;
}

.hero .kuku {
  mix-blend-mode: difference;
}

.hero .wrap-titleH {
  overflow: hidden;
}

.hero .titulo-nameB {
  font-size: 5rem;
  margin: 0;
  text-align: left;
  height: 90%;
  width: 100%;
  padding: 0;
  padding-bottom: 2rem;
  transform: translateY(120%);
  color: #150144;
  width: 70%;
  line-height: 1em;
  transition: all 700ms cubic-bezier(0.23, 1, 0.32, 1);
  /* easeOutQuint */
}

.hero .titulo-nameB.fuera {
  transform: translateY(0px);
}

.hero .btn-principal {
  padding: 0.6em 1.5em;
  text-decoration: none;
  font-size: 1.15em;
  box-sizing: border-box;
  font-weight: bold;
  color: white;
  outline: 0;
  opacity: 1;
  transform: translateY(50px);
  background-color: #1d1c34;
  transition: color 0.5s ease, background 0.5s ease;
  margin-left: 3px;
  border: 3px solid #1d1c34;
  cursor: pointer;
}

.hero .btn-principal:hover {
  color: #1d1c34;
  background-color: white;
}

.icono1,
.icono2,
.icono3,
.icono4 {
  position: absolute;
  top: 330px;
  left: 250px;
  display: inline-block;
  opacity: 0;
}

.mask {
  display: none;
}

@media (max-width: 345px) {
  .hero {
    margin-left: 0 !important;
    padding: 0.5em;
    font-size: 0.7em;
  }
  .hero .wrap-titleH {
    overflow: hidden;
  }
  .hero .profile-photo {
    width: 100px;
    height: 100px;
  }
  .hero .titulo-nameB {
    font-size: 2.5rem;
    line-height: 0.9em;
  }
  .hero .titulo-nombre {
    font-size: 1.3rem;
  }
}

.firstMask {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 12;
}

.secondMask {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #3503ab;
  z-index: 11;
}

@media (max-width: 1200px) {
  .hero {
    display: block;
    margin-left: 2em;
    padding-left: 6em;
  }
  .hero .profile-photo {
    position: static;
    float: right;
    shape-outside: circle();
  }
  .hero .btn-principal {
    margin-top: 2rem;
  }
  .titulo-nameB {
    font-size: 5em;
    line-height: 0.9em;
  }
}

@media (max-width: 800px) {
  .hero {
    padding-left: 2rem;
  }
  .hero .btn-principal {
    margin-top: -2rem;
  }
}

@media (max-width: 500px) {
  .hero {
    margin-left: 0em;
    font-size: 0.95em;
    padding-left: 1rem;
  }
  .hero .profile-photo {
    width: 100px;
    height: 100px;
  }
  .hero .titulo-nameB {
    font-size: 5em;
    line-height: 0.9em;
  }
}

/* IMG-20190806-WA0018 1 */
/* Note: backdrop-filter has minimal browser support */
