@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
:root {
  --body-color: #191973;
  --comp-color: #CE0000;
  --sim-light: #5A79A5;
  --sim-lighter: #9CAAC6;
  --lightest: #DEE7EF;
}

header {
  height: 15vh;
  position: relative;
  z-index: 10;
  display: flex;
  width: 100%;
  margin: 0;
  align-items: center;
  top: 0;
  overflow-x: hidden;
}

header h1 {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0;
}

header h1 svg {
  height: 50%;
  margin-left: 12rem;
}

header .iconoMain {
  height: 80%;
  border-radius: 50%;
  margin-right: 0.5em;
  box-sizing: border-box;
}

header .nameN {
  text-decoration: none;
  color: white;
}

header #burger {
  position: absolute;
  right: 9%;
  top: 50%;
  width: 32px;
  cursor: pointer;
}

@keyframes fadeNavClose {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header .listaNav {
  display: none;
}

header .listaNav li {
  display: none;
  white-space: nowrap;
}

header nav {
  flex: 1;
}

.exit-btn {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  right: 5%;
  top: 5%;
  color: red;
  opacity: 0;
  animation: fadeNavClose ease 0.5s forwards;
  cursor: pointer;
}

.list-movil {
  box-sizing: border-box;
  animation: navMovil 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  position: fixed;
  z-index: 30;
  transform: translateY(200px);
  padding: 0;
  margin: 0;
  width: 50%;
  text-align: center;
  margin-top: calc(50% - 201px / 2);
  margin-left: 25%;
  color: white;
  opacity: 0;
  cursor: pointer;
}

.list-movil li {
  margin-bottom: 0.5em;
  font-size: 2.5em;
  font-weight: bold;
  list-style: none;
}

.list-movil li:nth-of-type(1) {
  color: #ffbe0bff;
}

.list-movil li:nth-of-type(2) {
  color: #fb5607ff;
}

.list-movil li:nth-of-type(3) {
  color: #ff006eff;
}

.list-movil li:nth-of-type(4) {
  color: #8338ecff;
}

.list-movil li:nth-of-type(5) {
  color: #3a86ffff;
}

@media (min-width: 680px) {
  header {
    justify-content: space-around;
    padding-right: 2em;
    padding-top: 3vh;
  }
  header #burger {
    display: none;
  }
  header nav {
    display: flex;
    justify-items: center;
    justify-content: flex-end;
  }
  header .listaNav {
    margin-right: 0.5em;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 5px;
    left: -8rem;
  }
  header .listaNav li {
    display: flex;
    margin: 0 1em;
    font-size: 1.2em;
    position: relative;
    cursor: pointer;
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  header .listaNav li:hover {
    filter: brightness(170%);
  }
  header .listaNav li.pseudo-fuera:before {
    background: none;
  }
  header .listaNav li:before {
    content: "";
    position: absolute;
    padding: 4px 8px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #180030;
    background: linear-gradient(rgba(10, 0, 50, 0.4), rgba(10, 0, 50, 0.4)) repeat-x;
    top: -4px;
    left: -8px;
    z-index: -1;
    border-radius: 30px;
  }
  header .listaNav li:hover:after {
    transform: scaleX(1);
  }
}

@media (max-width: 950px) {
  header svg {
    margin-left: 4rem;
  }
  header .listaNav {
    left: -3rem;
  }
  header .listaNav li {
    font-size: 1.2em;
  }
}

@media (max-width: 1100px) {
  header h1 svg {
    margin-left: 8rem;
  }
}

@media (max-width: 800px) {
  header .listaNav li {
    font-size: 1rem;
  }
  header h1 svg {
    margin-left: 4rem;
  }
}

@media (max-width: 500px) {
  header h1 svg {
    margin-left: 1rem;
  }
}

.mask-nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 20;
  transform: scaleY(0);
  transform-origin: 0 0;
  animation: navToggle 0.25s ease forwards;
}

@keyframes navToggle {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes navMovil {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

header {
  transition: transform 0.4s ease;
}

header.navClosed {
  transform: translateY(-200px);
}

.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  opacity: 1;
  padding: 2em;
  padding-left: 12em;
  top: 15vh;
  margin-bottom: 15em;
  min-height: 100vh;
  padding-top: 6em;
}

.hero p {
  margin-left: 6px;
}

.hero .profile-photo {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  right: 28%;
}

.hero .hi {
  color: black;
  font-size: 2.5em;
}

.hero .titulo-nombre {
  font-size: 1em;
  margin: 0;
  margin-left: 5px;
  padding: 0;
  font-size: 1.4em;
  color: #f72585;
  color: deeppink;
  color: #e75480;
  color: #3f03ea;
  position: relative;
  z-index: 13;
  transform: translateX(0px);
  opacity: 0;
  margin-bottom: 2rem;
}

.hero span {
  display: block;
}

.hero .kuku {
  mix-blend-mode: difference;
}

.hero .wrap-titleH {
  overflow: hidden;
}

.hero .titulo-nameB {
  font-size: 5rem;
  margin: 0;
  text-align: left;
  height: 90%;
  width: 100%;
  padding: 0;
  padding-bottom: 2rem;
  transform: translateY(120%);
  color: #150144;
  width: 70%;
  line-height: 1em;
  transition: all 700ms cubic-bezier(0.23, 1, 0.32, 1);
  /* easeOutQuint */
}

.hero .titulo-nameB.fuera {
  transform: translateY(0px);
}

.hero .btn-principal {
  padding: 0.6em 1.5em;
  text-decoration: none;
  font-size: 1.15em;
  box-sizing: border-box;
  font-weight: bold;
  color: white;
  outline: 0;
  opacity: 1;
  transform: translateY(50px);
  background-color: #1d1c34;
  transition: color 0.5s ease, background 0.5s ease;
  margin-left: 3px;
  border: 3px solid #1d1c34;
  cursor: pointer;
}

.hero .btn-principal:hover {
  color: #1d1c34;
  background-color: white;
}

.icono1,
.icono2,
.icono3,
.icono4 {
  position: absolute;
  top: 330px;
  left: 250px;
  display: inline-block;
  opacity: 0;
}

.mask {
  display: none;
}

@media (max-width: 345px) {
  .hero {
    margin-left: 0 !important;
    padding: 0.5em;
    font-size: 0.7em;
  }
  .hero .wrap-titleH {
    overflow: hidden;
  }
  .hero .profile-photo {
    width: 100px;
    height: 100px;
  }
  .hero .titulo-nameB {
    font-size: 2.5rem;
    line-height: 0.9em;
  }
  .hero .titulo-nombre {
    font-size: 1.3rem;
  }
}

.firstMask {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 12;
}

.secondMask {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #3503ab;
  z-index: 11;
}

@media (max-width: 1200px) {
  .hero {
    display: block;
    margin-left: 2em;
    padding-left: 6em;
  }
  .hero .profile-photo {
    position: static;
    float: right;
    shape-outside: circle();
  }
  .hero .btn-principal {
    margin-top: 2rem;
  }
  .titulo-nameB {
    font-size: 5em;
    line-height: 0.9em;
  }
}

@media (max-width: 800px) {
  .hero {
    padding-left: 2rem;
  }
  .hero .btn-principal {
    margin-top: -2rem;
  }
}

@media (max-width: 500px) {
  .hero {
    margin-left: 0em;
    font-size: 0.95em;
    padding-left: 1rem;
  }
  .hero .profile-photo {
    width: 100px;
    height: 100px;
  }
  .hero .titulo-nameB {
    font-size: 5em;
    line-height: 0.9em;
  }
}

/* IMG-20190806-WA0018 1 */
/* Note: backdrop-filter has minimal browser support */
.container-services {
  box-sizing: border-box;
  background-color: #1D1C34;
  margin-bottom: 3rem;
  padding-top: 4em;
  padding-bottom: 4em;
}

.container-services .cont-services {
  padding: calc(1rem + 1%);
}

.container-services .cont-services .cartaSkill {
  margin: 2em auto;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.7s cubic-bezier(0.21, 0.67, 0.13, 0.89), transform 0.7s cubic-bezier(0.21, 0.67, 0.13, 0.89), box-shadow 0.5s ease-in-out;
}

.container-services .cont-services .cartaSkill:hover {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09), 0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09), 0 32px 16px rgba(0, 0, 0, 0.09);
}

.container-services .cont-services .cartaSkill.visibleC {
  opacity: 1;
  transform: translateY(0px);
}

.container-services .cont-services .cartaSkill .iconCard {
  font-size: 2em;
  color: grey;
}

.container-services .cont-services .cartaSkill h3 {
  color: white;
  font-size: 1.5rem;
  margin: 1em 0;
}

.container-services .cont-services .cartaSkill p {
  opacity: 0.8;
  margin-bottom: 0;
  line-height: 1.5em;
  color: white;
}

.hola {
  color: black;
}

@media (min-width: 1000px) {
  .container-services .cont-services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
  }
  .container-services .cont-services .cartaSkill {
    text-align: left;
    height: auto;
    padding: 1.7em;
    top: 0px;
    margin: 0px;
  }
  .container-services .cont-services .cartaSkill .iconCard {
    font-size: 2em;
  }
}

.content {
  display: flex;
  padding: 1rem;
  margin-bottom: 3rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

.content .text__block {
  flex: 1;
  margin-top: 0;
  display: flex;
  flex-direction: column;
}

.content .text__block .reveal {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  line-height: 1.4rem;
}

.content .text__block .reveal.visible {
  opacity: 1;
  transform: translateX(0px);
}

.content .text__block .reveal li {
  list-style: none;
  margin: 0.3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .text__block .reveal li h5 {
  color: #3503ab;
}

.content .text__block .reveal .titulo-tech {
  margin-bottom: 0;
  color: #764abc;
  margin-top: 0;
}

.content .text__block .reveal .tech {
  display: flex;
  padding: 0;
  margin-top: 0;
}

.content .text__block p.reveal {
  margin-bottom: 2rem;
}

.content .text__block .btn-group {
  display: flex;
  width: 100%;
  justify-content: center;
  order: 3;
}

.content .text__block .btn-group button {
  background: #3503ab;
  outline: none;
  border: 0;
  padding: 0.5rem 1.2rem;
  border: 1px solid #3503ab;
  transition: all 0.2s ease;
  cursor: pointer;
}

.content .text__block .btn-group button:first-of-type {
  margin-left: -1.5rem;
  color: white;
}

.content .text__block .btn-group button:first-of-type:hover {
  background-color: white;
  color: #3503ab;
}

.content .text__block .btn-group button:last-of-type {
  margin-left: 1.5rem;
  background-color: white;
  color: #3503ab;
}

.content .text__block .btn-group button:last-of-type:hover {
  background-color: #3503ab;
  color: white;
}

.content .image__block {
  flex: 1;
  width: 100%;
}

.content .image__block .reveal {
  opacity: 0;
  transition: opacity 0.8s ease;
}

.content .image__block .reveal.visible {
  opacity: 1;
}

.content .image__block .image {
  background-size: cover;
  width: 100%;
  margin: 0 auto;
}

.content .image__block .image .actual-img {
  width: 100%;
  object-fit: contain;
}

.image {
  position: relative;
}

.image .inner-btn-section {
  display: flex;
  height: 100%;
  align-self: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.image .inner-btn-section a {
  border: 0;
  outline: 0;
  opacity: 0;
  border-radius: 1.5rem;
  height: 2.5rem;
  width: 4.5rem;
  transition: all 0.2s ease;
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image .inner-btn-section a:first-of-type {
  margin-left: -1.5rem;
  background: #fb0dffe0;
}

.image .inner-btn-section a:first-of-type:hover {
  background-color: #a300a6;
}

.image .inner-btn-section a:last-of-type {
  margin-left: 1.5rem;
  background: #ffd437de;
}

.image .inner-btn-section a:last-of-type:hover {
  background-color: #d0a300;
}

.image .inner-btn-section a.visible {
  opacity: 1;
}

.image .inner-btn-section a .icon {
  font-size: 1.5rem;
}

.image .layer {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.4;
  background: black;
  position: absolute;
  visibility: hidden;
}

.image .layer.visible {
  visibility: visible;
}

@media (min-width: 500px) {
  .content {
    margin: 0 auto;
  }
}

@media (min-width: 800px) {
  .content {
    flex-direction: row;
    align-items: flex-start;
    max-width: none;
  }
  .content.reversed {
    flex-direction: row-reverse;
  }
  .content .image__block {
    width: auto;
    order: 2;
    margin: 1rem;
    padding: 1rem;
  }
  .content .image__block .image {
    background-size: cover;
    width: auto;
    height: auto;
  }
  .content .image__block .image .actual-img {
    width: 100%;
  }
  .content .text__block {
    order: 1;
    padding: 0;
    margin: 1rem;
    margin-top: 2rem;
    padding: 0 2rem;
  }
  .content .text__block .descripcion {
    order: 1;
    line-height: 1.8rem;
    margin-top: 0.35rem;
  }
  .content .text__block .tech-container {
    order: 2;
  }
  .content .text__block .reveal li {
    flex-direction: row;
    margin: 10px;
  }
  .content .text__block .reveal li span {
    margin: 5px;
  }
  .content .text__block .btn-group {
    margin-top: 2rem;
  }
}

@media (min-width: 1200px) {
  .upper-positionator {
    padding: 2rem;
  }
}

.seemore {
  padding: 0.8rem 2rem;
  background-color: red;
  color: white;
  border: 0;
  outline: 0;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-top: 4rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.seemore:hover {
  background-color: #990000;
}

.seemore.hide {
  background-color: blue;
}

.seemore.hide:hover {
  background-color: #000099 !important;
}

.seemore .icon-more {
  color: white;
  font-size: 3rem;
  stroke: white;
  transform: scale(0.5);
}

.seemore .icon-more * {
  stroke: white;
}

.seemore .icon-more.rotate {
  animation: rotata 0.5s ease forwards;
}

.seemore .icon-more.big {
  transform: scale(1);
}

@keyframes rotata {
  from {
    transform: rotate(0deg) scale(0.5);
  }
  to {
    transform: rotate(360deg) scale(1);
  }
}

.cont-estudios {
  width: 80%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 5em;
}

.cont-estudios h2 {
  text-align: center;
  font-size: 3em;
}

.cont-estudios .linea {
  position: absolute;
  width: 0.1em;
  height: 320px;
  background-color: black;
  top: 100px;
  left: 0em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cont-estudios .icono-estudio {
  width: 50px;
  height: 50px;
  background: #6200ea;
  padding: 2px;
}

.cont-estudios .timelinen {
  padding-left: 5px;
}

.cont-estudios .timelinen .timelin-title {
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 25px;
}

.cont-estudios .timelinen li {
  list-style: none;
  background-color: white;
  margin: 2em;
  margin-top: 1.25rem;
  margin-right: 0;
  position: relative;
}

.cont-estudios .timelinen li .cabecera {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 50%;
  padding: 0.5em;
}

.cont-estudios .section-wrapper {
  display: flex;
  flex-direction: column;
}

.cont-estudios .timelinen li .line-title {
  font-size: 16px;
  color: grey;
  margin: 0;
  padding: 0;
}

.cont-estudios .timelinen li span {
  font-size: 12px;
}

.cont-estudios .timelinen li .line-text {
  color: white;
  margin: 0;
  padding: 0.5em;
}

.cont-estudios .timelinen li:before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border: 3px solid;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  font-size: 8px;
  font-weight: 400;
  background: white;
  display: block;
  left: -2.75rem;
  top: 25%;
}

.cont-estudios .timelinen li.first {
  box-sizing: border-box;
}

.cont-estudios .timelinen li.first .line-text {
  background: #1D1C34;
}

.cont-estudios .timelinen li.first:before {
  border-color: #1D1C34;
}

.cont-estudios .timelinen li.first span {
  color: #1D1C34;
}

.cont-estudios .timelinen li.second {
  box-sizing: border-box;
}

.cont-estudios .timelinen li.second .line-text {
  background: #1D1C34;
}

.cont-estudios .timelinen li.second:before {
  border-color: #1D1C34;
}

.cont-estudios .timelinen li.second span {
  color: #1D1C34;
}

.cont-estudios .timelinen li.third .line-text {
  background: #1D1C34;
}

.cont-estudios .timelinen li.third:before {
  border-color: #1D1C34;
}

.cont-estudios .timelinen li.third span {
  color: #1D1C34;
}

@media (max-width: 500px) {
  .cont-estudios {
    width: 96%;
  }
  .cont-estudios .linea {
    position: absolute;
    width: 0.1em;
    background-color: black;
    left: 0.6em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .cont-estudios .timelinen {
    margin: 0;
    padding-left: 15px;
  }
  .cont-estudios .timelinen li {
    margin: 1.25rem;
    margin-left: 10px;
  }
  .cont-estudios .timelinen li:before {
    left: -2.9em;
  }
  .cont-estudios .timelinen li .line-title {
    position: absolute;
    right: 0.5em;
  }
}

@media (max-width: 380px) {
  .puta-palabra {
    width: 200px;
  }
  .cont-estudios {
    padding: 0;
    width: 100%;
  }
  .cont-estudios .linea {
    left: 0.75em;
  }
  .cont-estudios .timelinen {
    padding-left: 20px;
    box-sizing: border-box;
  }
  .cont-estudios .timelinen li:before {
    left: -3.1em;
  }
  .cont-estudios .timelinen li .cabecera-d {
    margin-bottom: 1.2em;
  }
}

.title-line {
  height: 2px;
  width: 10%;
  background-color: black;
}

.titulo__componente {
  font-size: 3em;
}

@media (max-width: 500px) {
  .title-container {
    margin-left: 5px;
  }
  .title-container .title-line {
    margin-right: 10px;
  }
  .title-container .titulo__componente {
    position: relative;
    left: -35px;
  }
}

@media (min-width: 1000px) {
  .cont-estudios .section-wrapper {
    display: flex;
    flex-direction: row;
  }
  .cont-estudios .section-wrapper .timeline-wrapper {
    width: 50%;
    margin-right: 7.5em;
  }
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5em;
  padding-top: 0;
}

.skill-container * {
  box-sizing: border-box;
}

.skill-container .skill-unit {
  margin: 1rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease;
}

.skill-container .skill-unit .gitG {
  margin: 0 auto;
}

.skill-container .skill-unit.onView {
  opacity: 1;
  transform: translateY(0px);
}

.skill-container .skill-unit.onView p {
  opacity: 1;
  transform: translateX(0px);
}

.skill-container .skill-unit p {
  text-align: center;
  opacity: 0;
  transform: translateX(-40px);
  transition: all 0.3s ease 0.5s;
  font-size: 1.5rem;
}

@media (max-width: 500px) {
  .skill-container {
    padding: 1rem;
  }
  .skill-container .skill-unit {
    margin: 1rem;
    transform: scale(0.6);
  }
  .skill-container .skill-unit svg {
    width: 100px;
  }
  .skill-container .skill-unit svg.express {
    width: 130px;
    box-sizing: content-box;
  }
}

@media (min-width: 500px) {
  .skill-container {
    justify-content: center;
  }
}

.title-container {
  display: flex;
  align-items: center;
}

.title-container {
  display: flex;
  align-items: center;
}

.title-container .title-line {
  height: 1px;
  width: 10%;
  background-color: black;
  opacity: 0;
}

.title-container .titulo__componente {
  font-size: 3em;
  transform: translateX(0px);
  opacity: 0;
}

.title-container.visibleB .title-line {
  animation: lineGrow 0.6s ease 0.2s forwards;
  transform-origin: 0 0;
  transform: scaleX(0.4);
}

.title-container.visibleB .titulo__componente {
  animation: titleFadeIn 0.6s ease 0.4s forwards;
}

@keyframes lineGrow {
  from {
    transform: scaleX(0.4);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes titleFadeIn {
  from {
    transform: translateX(0px);
    opacity: 0;
  }
  to {
    transform: translateX(50px);
    opacity: 1;
  }
}

.label-contact {
  display: block;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: .5em;
  transform: translate3d(10px, 220%, 0px);
  position: relative;
  z-index: 1;
  transition: transform 0.4s ease, opacity 0.3s ease;
  opacity: 0.6;
}

.label-contact:first-of-type {
  margin-top: 1.5em;
}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
  border-radius: .2em;
  border: 1px solid #ACACAC;
  color: #1B1820;
  padding-left: 1em;
  height: 45px;
}

input[type=text]:focus {
  outline: 0;
}

.container__form .error-field {
  border: 3px solid #FFB3B3;
}

.container__form {
  width: 100%;
  margin: 0 auto;
  background-color: #b5a3e0;
  padding: 1em;
  border-radius: 0.2em;
  box-sizing: border-box;
  margin-bottom: 5em;
  overflow-x: hidden;
}

.container__form textarea {
  width: 100%;
  box-sizing: border-box;
  height: 100px;
  margin: 0;
  padding: 1em;
  outline: 0;
  border: 1px solid #ACACAC;
}

.container__form textarea:focus {
  outline: 0;
  border: 0;
}

.container__form h2 {
  font-size: 2.5em;
  position: relative;
  padding: 0;
  margin: 0;
}

.error {
  background: #FFB3B3;
  display: inline-block;
  padding: .3em .5em;
  font-size: .85em;
  font-weight: bold;
  margin-top: -.1em;
  display: none;
}

.container__form .failed .error {
  display: block;
}

.cta {
  border: 3px solid #1D1C34;
  box-sizing: border-box;
  outline: 0;
  display: block;
  width: 100%;
  padding: 0.7em 1.6em;
  text-align: center;
  text-decoration: none;
  color: white;
  background: #1D1C34;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: .2em;
  cursor: pointer;
  transition: all 0.1s ease;
}

.cta:active {
  color: #1D1C34;
  background-color: white;
}

.wrap {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1.5em;
}

.wrap .remark {
  bottom: 0;
  right: 0;
  position: absolute;
  height: 2px;
  width: 0;
  opacity: 1;
  background-color: #6265e4;
  transition: width 0.4s ease;
}

.wrap .activo.remark {
  /* transform: scaleX(100) */
  bottom: 0;
  position: absolute;
  left: 0;
  width: 100%;
  transition: width 0.4s ease;
  background-color: #6265e4;
}

.wrap .activo.special.remark {
  bottom: 4px;
}

.label-contact.activo {
  transform: translate3d(10%, 0%, 0px) scale(1.2);
  opacity: 1;
  -webkit-font-smoothing: subpixel-antialiased;
}

@media (min-width: 500px) {
  .input[type=text] {
    height: 35px;
  }
  .container__form .cta {
    width: 30%;
  }
}

@media (min-width: 650px) {
  .container__form {
    width: 70%;
  }
}

@media (min-width: 900px) {
  .container__form {
    width: 100%;
    padding: 1.5em;
  }
  .container__form h2 {
    font-size: 3.5em;
  }
  .container__form .cta {
    width: auto;
  }
}

#INDmenu-btn {
  transition: none !important;
  transform: scale(0.7);
}

.INDhasDragTooltip #INDWrap #INDmenu-btn:before {
  transition: none !important;
}

.clientWidth {
  display: inline-block;
  position: fixed;
  right: 5%;
}

html {
  overflow-x: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  margin: 0;
}

.App {
  position: relative;
  overflow-x: hidden;
}

.responsive-container {
  display: block;
}

@media (min-width: 900px) {
  .responsive-container {
    display: grid;
    grid-template-columns: 50% 35%;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
    padding-left: 3em;
  }
}

.svg-fondo {
  position: absolute;
  display: flex;
  width: 55%;
  top: 0;
  right: 0;
  z-index: -1;
}

.wrapP {
  margin: 0;
  padding: 0;
  position: absolute;
}

.wrapP:before {
  content: "";
}

svg:not(:root) {
  overflow: visible;
}

.thefondo {
  overflow: hidden;
  position: relative;
  background: white;
  width: 100%;
  height: 140vh;
}

.foto-layer {
  position: absolute;
  width: 70%;
  mix-blend-mode: darken;
  backdrop-filter: blur(30px);
  top: 0;
  opacity: 0.7;
  overflow: hidden;
  left: 40%;
  object-fit: fill;
}

@media (max-width: 1205px) {
  .foto-layer {
    width: 90%;
  }
}

@media (max-width: 650px) {
  .thefondo {
    height: 120vh;
  }
  .foto-layer {
    object-fit: cover !important;
    height: 100%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bloque {
  width: 100%;
  height: 30vh;
  background-color: #150144;
}
