
$dark-blue: #1D1C34;

@import "scss-folder/navigation";

@import "scss-folder/hero";

@import "scss-folder/services/servicess";

@import "scss-folder/studies/studies.scss";

@import "scss-folder/skills/skills.scss";

@import "scss-folder/form/form.scss";

#INDmenu-btn{
	transition: none !important;
	transform: scale(0.7);
}

.INDhasDragTooltip #INDWrap #INDmenu-btn:before{
	transition: none !important;
}
.clientWidth {
	display: inline-block;
	position: fixed;
	right: 5%;
}

html {
	// scroll-snap-type:y proximity;
	// overflow-y: scroll;
	overflow-x: hidden;
	// font-family: helvetica neue;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-family: "Montserrat";

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body,
html {
	margin: 0;
	// background-color: #d1e3dd;
}
.App {
	position: relative;
	overflow-x: hidden;
}

.responsive-container {
	display: block;
}

@media (min-width: 900px) {
	.responsive-container {
		display: grid;
		grid-template-columns: 50% 35%;
		justify-content: space-around;
		align-items: flex-end;
		position: relative;
		padding-left: 3em;
	}
}

.svg-fondo {
	position: absolute;
	display: flex;
	width: 55%;
	top: 0;
	right: 0;
	z-index: -1;
}
.wrapP {
	margin: 0;
	padding: 0;
	position: absolute;
	&:before {
		content: "";
	}
}
svg:not(:root) {
	overflow: visible;
}

.thefondo {
	overflow: hidden;
	position: relative;
	// background: linear-gradient(270deg, #cdf3ea, #eebcf9);
	// background-size: 400% 400%;

	// -webkit-animation: AnimationName 32s ease infinite;
	// -moz-animation: AnimationName 32s ease infinite;
	// animation: AnimationName 32s ease infinite;
	background: white;
	width: 100%;
	height: 140vh;
}

.foto-layer {
	position: absolute;
	width: 70%;
	mix-blend-mode: darken;
	backdrop-filter: blur(30px);
	top: 0;
	opacity: 0.7;
	overflow: hidden;
	left: 40%;
	object-fit: fill;
}
@media (max-width: 1205px) {
	.foto-layer {
		width: 90%;
	}
}

@media (max-width: 650px) {
	.thefondo{
		height: 120vh;
	}
	.foto-layer {
	object-fit: cover !important;
	height: 100%;
	}
}

@-webkit-keyframes AnimationName {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@-moz-keyframes AnimationName {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes AnimationName {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.bloque{
	width: 100%;
	height: 30vh;
	background-color: #150144;
}