.container-services {
  box-sizing: border-box;
  margin-bottom: 3rem;
}

.container-services .cont-services {
  padding: calc(1rem + 1%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-services .cont-services .cartaSkill {
  margin: 2em auto;
  opacity: 0;
  transform: translateY(50px);
  border: 2px solid transparent;
  border-radius: 4px;
  width: 300px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  text-align: center;
}

.container-services .cont-services .cartaSkill:hover {
  border: 2px solid #1d1c34;
  border-radius: 8px;
}

.container-services .cont-services .cartaSkill.visibleC {
  opacity: 1;
  transform: translateY(0px);
}

.container-services .cont-services .cartaSkill .iconCard {
  font-size: 2em;
  color: grey;
}

.container-services .cont-services .cartaSkill h3 {
  color: #1d1c34;
  font-size: 1.5rem;
  margin: 1em 0;
}

.container-services .cont-services .cartaSkill p {
  opacity: 0.8;
  margin-bottom: 0;
  line-height: 1.5em;
  color: #1d1c34;
}

.hola {
  color: black;
}

@media (min-width: 1000px) {
  .container-services .cont-services {
    display: flex;
    justify-content: center;
    padding: 2em;
  }
  .container-services .cont-services .cartaSkill {
    height: auto;
    padding: 1.7em;
    top: 0px;
    margin: 0px;
  }
  .container-services .cont-services .cartaSkill:first-child {
    margin: auto 30%;
  }
  .container-services .cont-services .cartaSkill.item2 {
    margin-right: 2rem;
  }
  .container-services .cont-services .cartaSkill.item3 {
    margin-left: 2rem;
  }
  .container-services .cont-services .cartaSkill .iconCard {
    font-size: 2em;
  }
}

@media (max-width: 500px) {
  .cartaSkill {
    width: 100%;
  }
}
